@charset "UTF-8";

/* ! --------------------------------------------------
- モーダル
//回答
-------------------------------------------------- */
.p-modal{
	.remodal-close{
		position: absolute;top: 0; right: 0px;
    background: none;
    border: none;
	}
  &__heading{
    padding: 0 0 20px;
    // border-bottom: 1px solid #ddd;
    .text{
      .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @extend %c-text__lv4;
        @extend %c-text__weight--600;
        position: relative;
        &:after{
          content: "";
          background-color: #222A36;
          width: 80px;
          height: 2px;
          border-radius: 10px;
          margin: 6px 0 0;
        }
      }
      .description{
        @extend %c-text__lv7;
        margin: 20px 0 0;
        color: #7b7b7b;
      }
    }
  }
  &__body{
    margin: 24px 0 0;
    .c-image{
      border: 1px solid #f3f3f3;
    }
  }

	// &__head{
  //   .c-image{
  //     position: relative;
  //     img{
  //       width: 160px;
  //       height: 160px;
  //       position: absolute;
  //       top: -65px;
  //       left: 270px;
  //       @include mq(tablet){
  //         position: initial;
  //       }
  //     }
  //   }
  //   .c-textAnswer{
  //     @include mq(tablet){
  //       position: relative;
  //       display: flex;
  //       justify-content: center;
  //     }
  //     .correct{
  //       @extend %c-text__lv4;
	// 			@extend %c-text__weight--500;
  //       @include mq(tablet){
  //         position: absolute;
  //         top: -95px;
  //         font-weight: 600 !important;
  //       }   
  //     }
  //   }
	// 	.c-text{
  //     .correct{
  //       @extend %c-text__lv4;
	// 			@extend %c-text__weight--500;      
  //     }
  //   }
  //   &--incorrect{
  //     .c-text{
  //       padding: 95px 0 0;
  //       @include mq(tablet){
  //         padding: 18px 0 0;
  //       }
  //     }
  //   }
	// }
  // &__body{
  //   margin: 80px 0 0;
  //   @include mq(tablet){
  //     margin: 24px 0 0
  //   }
  //   .c-text{
  //     .answer{
  //       @extend %c-text__lv5;
  //       @extend %c-text__weight--400;
  //     }
  //     .cnt{
  //       margin: 20px 0 0;
  //       a{
  //         color: color("text_blue");
  //       }
  //     }
  //   }
  //   &--incorrect{
  //     margin: 30px 0 0;
  //     @include mq(tablet){
  //       margin: 0;
  //     }
  //   }
  // }
  // &__foot{
  //   margin: 30px 0 0;
  //   @include mq(tablet){
  //     margin: 18px 0 0;
  //   }
  //   .button{
  //     display: flex;
  //     justify-content: center;
  //   }
  // }
}