@charset "UTF-8";
/* ! ==================================================

- ボディ

================================================== */
/* ! --------------------------------------------------

- ボディ

-------------------------------------------------- */
.l-body {
  min-height: 750px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
  //センター見せる用
  margin: 0 auto;
}
