@charset "UTF-8";
/* ! ==================================================

- コンテナ

================================================== */
/* ! --------------------------------------------------

- コンテナ

-------------------------------------------------- */
.l-container {
  max-width: 1160px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
  @include mq(sp){
    padding: 0 20px;
  }
}
